@tailwind base;
@tailwind components;
@tailwind utilities;
/* Completely hide scrollbars on entire website */
html, body, * {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}